
{% extends "layout.html.twig" %}

{% block title %}
  Supprimer un service - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un service</h2>

  <p>
    Etes-vous certain de vouloir supprimer le service "{{ service.title }}" ?
  </p>

  <form action="{{ path('service_delete', {'id': service.id}) }}" method="post">
    <a href="{{ path('service_view', {'id': service.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au service
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    
    {# Ceci va générer le champ CSRF #}
    <div style="visibility: hidden">{{ form_rest(form) }}</div>
  </form>

{% endblock %}