<div class="well">

  <div class="row">

    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

    <!-- CATEGORY -->
    <div class="col-md-5">


      {{ form_errors(form) }}

      {# Title #}
      <div class="form-group">
        {{ form_label(form.title, "Titre", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}

        {{ form_errors(form.title) }}

        <div class="col-sm-8">
          {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>
      </div>


      {# Suivi Stat #}
      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-10">
          <div class="checkbox">
            <label>
              {{ form_widget(form.isFollowedStat) }} Suivi Statistiques
            </label>
          </div>
        </div>
      </div>


      {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary'}}) }}

    </div>

    {{ form_rest(form) }}
    
    {{ form_end(form) }}


  </div>
</div>
