{% extends "layout.html.twig" %}

{% block title %}
  Supprimer un produit - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un produit</h2>

  <p>
    Etes-vous certain de vouloir supprimer le produit "{{ product.title }}" ?
  </p>

  <form action="{{ path('product_delete', {'id': product.id}) }}" method="post">
    <a href="{{ path('product_view', {'id': product.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au produit
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    
    {# Ceci va générer le champ CSRF #}
    <div style="visibility: hidden">{{ form_rest(form) }}</div>
  </form>

{% endblock %}