
{% extends "layout.html.twig" %}

{% block title %}
  Supprimer un client - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un client</h2>

  <p>
    Etes-vous certain de vouloir supprimer le client "{{ client.nom ~ " " ~ client.prenom }}" ?
  </p>

  {# On met l'id du client dans la route de l'action du formulaire #}
  <form action="{{ path('client_delete', {'id': client.id}) }}" method="post">
    <a href="{{ path('client_view', {'id': client.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour au client
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    
    {# Ceci va générer le champ CSRF #}
    <div style="visibility: hidden">{{ form_rest(form) }}</div>
  </form>

{% endblock %}