{% extends "layout.html.twig" %}

{% block body %}
<h4>Liste des parametres</h4>

  <p>
    {% for message in app.session.flashbag.get('notice') %}
      <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
  </p>

	<table class="table table-striped table-hover">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Valeur</th>
				<th>Groupe</th>
				<th>Description</th>
				<th>&nbsp;</th>
			</tr>
		</thead>

		<tbody>

	    {% for param in listParameters %}
	      <tr>
	      	<td>{{ param.id }}</td>
	      	<td>{{ param.pName }}</td>
	      	<td>{{ param.pValue }}</td>
	      	<td>{{ param.grp }}</td>
	      	<td>{{ param.description }}</td>
	      	<td><a href="{{ path('parameter_edit', {'id': param.id }) }}" ><div class="glyphicon glyphicon-edit"></div></a></td>
	    {% endfor %}

		</tbody>

	</table>


{% endblock %}

