{% extends "layout.html.twig" %}

{% block title %}
  Supprimer un utilisateur - {{ parent() }}
{% endblock %}

{% block body %}

  <h2>Supprimer un utilisateur</h2>

  <p>
    Etes-vous certain de vouloir supprimer l'utilisateur "{{ user.formatedLabel }}" ?
  </p>

  <form action="{{ path('user_delete', {'id': user.id}) }}" method="post">
    <a href="{{ path('user_view', {'id': user.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour à l'utilisateur
    </a>

    <input type="submit" value="Supprimer" class="btn btn-danger" />
    
    {# Ceci va générer le champ CSRF #}
    {{ form_rest(form) }}
  </form>

{% endblock %}